$colorPrincipal:#05142A;
$colorSecondary:#edededa6;
$colorTertiary:#991803;
$colorHeader:#0B0C0C;
$colorButton:#22577A;
$colorProgress:#1A1A1A;



$sizePrincipal:2.4em;
$sizeSecondary:2em;
$sizeText:1.1em;
$sizeFooter:0.8em;
$sizeMobilePrincipal:1.5em;
$sizeMobileSecondary:1.2em;
$sizeMobileText:0.8em;
$sizeMobileFooter:0.5em;

$fontPrincipal:"Courier Prime;"

